<div class="main">
  <div class="centering">
    <h1 style="font-weight: 900;">応物の(黒)歴史</h1>
    <h1>【17卒専用】</h1><br>
    <p>～(Black) History of Department of Applied Physics～</p><br>
    <%= link_to 'ログイン', home_login_form_path, class: "btn btn-default"%>
  </div>
</div>
